body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #fff;
    background-color: #1f1f2e;
}
section{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.caixa{
    width: 200px;
    background-color: #2A2A3B;
    border: 2px solid #4CAF50;
    color:#fff;
    text-align: center;
    font-size: 14px;
}
span{
 display: block;
 background-color: #9ac79e;
 padding: 5px;
 border-radius: 4px;
}

.pad-left{
    padding-left: 20px;
}
.pad-bottom{
    padding-bottom: 20px;
}
.pad-right{
    padding-right: 20px;
}
.pad-top{
    padding-top: 20px;
}
.pad-lados{
    padding-top: 5px; /*acima*/
    padding-right: 15px;/*direita*/
    padding-bottom: 25px; /*base*/
    padding-left: 35px; /*esquerda*/
    padding: 5px 15px 25px 35px; /*isso se resumo a todos ali de cima*/
}
.pad-20-40{
    /* padding verticais */
    padding-top:20px;
    padding-bottom: 20px;
    /* padding horizontais*/
    padding-right: 40px;
    padding-left: 40px;

    padding: 20px 40px;/*cima/base direita/esquerda*/
}
.pad-10{
    padding: 10px;
}
.no-pad{
    padding: 0px;
}